<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="/static/login.css" />
    <meta name="viewport" content="width=device-width"  />
    <title><%=locals.title ? title :'Login System'%></title>
</head>
<body>
