<%-include('header_login')-%>


<div class="center">
    <h1>SignUp</h1>
    <form method="post" action="/route/register">
        <div class="txt_field">
            <input type="text" required id="Email" name="Email">
            <span></span>
            <label>Email</label>
        </div>
        <div class="txt_field">
            <input type="text" required id="RoleName" name="RoleName">
            <span></span>
            <label>RoleName</label>
        </div>
        <div class="txt_field">
            <input type="Password" required id="Password" name="Password">
            <span></span>
            <label>Password</label>
        </div>
        <input type="submit" value="SignUp">
        <div class="signup_link">
        </div>
    </form>
</div>

<%-include('footer_login')-%>